body {
  font-family: 'Raleway', sans-serif;
}

/* .navbar {
  padding: 0.1rem 1rem;
} */

/* .navbar__title {
  font-weight: 600;
} */

.navbar-dark {
  background-color: #2ddf5c;
}

.nav-link {
  color: black !important;
  /* padding: 0.21rem 0.8rem !important; */
}

.nav-link--highlighted {
  background-color: #ff1b68;
  border-radius: 0.9rem;
  color: white !important;
}

.banner__fondo {
  background-image: url('../img/fondo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  /* padding: 0.93rem; */
}

.plan__title {
  color: #2ddf5c;
}

.card {
  text-align: center;
  background-color: #d5ffdc;
}

/* .card-body {
  padding: 0.9rem;
} */

.card-highlight {
  background-color: #19b84c;
  color: white;
  box-shadow: 5px 10px gray;
}

.plan__cost {
  color: #0e4f1f;
  /* margin: 0.93rem; */
  font-size: 1.12rem;
}

.plan__cost--highlight {
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px black;
  color: #19b84c;
}

.plan__price {
  color: #858585;
  font-size: 1.5rem;
}

.plan__description {
  color: black;
  font-size: 1.12rem;
}

.plan__items {
  list-style: none;
  /* padding: 0;
  margin-bottom: 0.4rem; */
}

.plan__btn {
  border-radius: 8px;
  background-color: #0e4f1f;
  color: white;
  font-size: 0.8rem;
  /* padding: 0.23rem 0.7rem; */
  border: 2px #0e4f1f solid;
}

.advantaje__fondo {
  background-color: #ff1b68;
  /* padding: 2.5rem; */
}

.advantaje__img-container {
  /* padding: 0.5rem 2rem; */
}

.img-container__img {
  border-radius: 20rem;
  /* width: 80%; */
}

#footer {
  background-color: black;
  /* padding: 2rem; */
  text-decoration: none;
}

.footer__item {
  /* padding: 0px 1rem; */
}
